.logo {

    padding: 1.5em;
    border: 10px cornsilk;
    border-radius: 10px;
    will-change: auto;
    transition: filter 300ms;
}
.logo:hover {
    color: #91c6d3;
    border:10px aqua;
    filter: drop-shadow(10px 10px 7em #ffffff);
}

/*tasks:*/
/*form design,*/
/*design the design sir made*/
/*basic html tags*/